<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
  	<ion-header>
  		<ion-toolbar>
  			<ion-title>
  				
  			</ion-title>
  		</ion-toolbar>
  	</ion-header>
    <ion-content>
    	<ion-list>
    		<ion-menu-toogle>
    			<ion-item routerLink="/home">
	    			<ion-icon name="home" slot="start"></ion-icon>
	    			<ion-label>Home</ion-label>
    		</ion-item>
    		</ion-menu-toogle>
            <ion-menu-toogle>
            	<ion-item routerLink="/inscription">
	    			<ion-icon name="person" slot="start"></ion-icon>
	    			<ion-label>Profil</ion-label>
    			</ion-item>
            </ion-menu-toogle>    		    		
    	</ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
