<ion-header>
  <ion-toolbar color="danger">
    <ion-title>localisation</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div id="myMap" style="width: 100%;height: 80%"></div>
	<ion-button color="danger" (click)=getPositions()> show marker  </ion-button>
	<ion-button color="danger" (click)=getPositions()> Accepter  </ion-button>
</ion-content>
