<ion-header>
  <ion-toolbar color="danger">
    <ion-title>S'IDENTIFIER</ion-title>
     <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<img src="assets/image/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" alt="logo">
	<form>
		<input type="email" placeholder="email">
		<input type="password" placeholder="mot de passe">
	    <button color="danger" ion-button class="login"> S'IDENTIFIER</button> 
	</form>
</ion-content>
