ion-content{
  text-align: center;
  /*background-color: #e74c3c;*/
}

img{
  margin-top: 15px;
  width: 200px;
}
form{
  margin-top: 20px
}
input[type=text] {
  background-color: white;
  border: none;
  color: grey;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid black;
  transition: all 0.5s ease-in-out;
  height: 35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 3px;
}
button{

  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow : 0 10px 30px 0 rgba(95,186,233,0.4);
  margin: 0px;
  border-radius: 3px;
  text-align: center
}
.login{
  background: #e74c3c;
  margin-top: 10px;
  text-align: center;
  border:none;
  padding:15px 80px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  width:85%;
  height: 35px;
  color: white;
}