<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      <!-- Home -->
    </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  padding>
<img src="assets/image/logo mellis-170x75.jpg" alt="logo">
<!-- <p> Bienvenue sur Mellis!</p> -->
<ion-text color="secondary">
  <h3>Bienvenue sur Mellis!!</h3>
</ion-text>

<form>
    <input type="text" placeholder="Quartier ou adresse">
      <button color="danger" ion-button class="login" (click)="Gotolocalisation()">
       Commande</button> 
  </form>
</ion-content>
